<a href="https://colab.research.google.com/github/mostafa-ja/Information-Retrieval/blob/main/python_elasticsearch_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%capture

!pip install elasticsearch==7.14.0
!apt install default-jdk > /dev/null

In [2]:
try:
  import os
  import elasticsearch
  from elasticsearch import Elasticsearch
  import numpy as np
  import pandas as pd
  import sys
  import json
  from ast import literal_eval
  from tqdm import tqdm 
  import datetime
  from elasticsearch import helpers
  
except Exception as e:
  print(f"error: {e}")

In [3]:
# Download & extract Elasticsearch 7.0.0

!wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.0.0-linux-x86_64.tar.gz -q
!tar -xzf elasticsearch-7.0.0-linux-x86_64.tar.gz
!chown -R daemon:daemon elasticsearch-7.0.0

In [4]:
# Creating daemon instance of elasticsearch
import os
from subprocess import Popen, PIPE, STDOUT
es_server = Popen(['elasticsearch-7.0.0/bin/elasticsearch'], 
                  stdout=PIPE, stderr=STDOUT,
                  preexec_fn=lambda: os.setuid(1)  # as daemon
                 )

In [5]:
# This part is important, since it takes a little amount of time for instance to load
import time
time.sleep(20)

In [6]:
%%bash
# If you get 1 root & 2 daemon process then Elasticsearch instance has started successfully
ps -ef | grep elasticsearch

daemon       216      72 99 09:29 ?        00:00:22 /content/elasticsearch-7.0.0/jdk/bin/java -Xms1g -Xmx1g -XX:+UseConcMarkSweepGC -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupancyOnly -Des.networkaddress.cache.ttl=60 -Des.networkaddress.cache.negative.ttl=10 -XX:+AlwaysPreTouch -Xss1m -Djava.awt.headless=true -Dfile.encoding=UTF-8 -Djna.nosys=true -XX:-OmitStackTraceInFastThrow -Dio.netty.noUnsafe=true -Dio.netty.noKeySetOptimization=true -Dio.netty.recycler.maxCapacityPerThread=0 -Dlog4j.shutdownHookEnabled=false -Dlog4j2.disable.jmx=true -Djava.io.tmpdir=/tmp/elasticsearch-4588421894943264613 -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=data -XX:ErrorFile=logs/hs_err_pid%p.log -Xlog:gc*,gc+age=trace,safepoint:file=logs/gc.log:utctime,pid,tags:filecount=32,filesize=64m -Djava.locale.providers=COMPAT -Dio.netty.allocator.type=unpooled -Des.path.home=/content/elasticsearch-7.0.0 -Des.path.conf=/content/elasticsearch-7.0.0/config -Des.distribution.flavor=default -Des.distribution.type=tar -Des.bundled_jdk=true -cp /content/elasticsearch-7.0.0/lib/* org.elasticsearch.bootstrap.Elasticsearch
daemon       305     216  0 09:29 ?        00:00:00 /content/elasticsearch-7.0.0/modules/x-pack-ml/platform/linux-x86_64/bin/controller
root         319     317  0 09:29 ?        00:00:00 grep elasticsearch

In [7]:
# Check if elasticsearch is running
!curl -sX GET "localhost:9200/"

In [9]:
from elasticsearch import Elasticsearch

# Adds the HTTP header 'Authorization: Basic <base64 username:password>'
es = Elasticsearch(
    "http://localhost:9200",
    #ca_certs="/path/to/http_ca.crt",
    basic_auth=("elastic", "lxDO2mQDVQPrxE3FRWAy")
)

print(es.ping())

True

In [10]:
es.indices.create(index='tutorial3')

{'acknowledged': True, 'shards_acknowledged': True, 'index': 'tutorial3'}

In [11]:
indices = es.indices.get_alias() 
print(indices)

{'tutorial3': {'aliases': {}}}

In [ ]:
# Importing test dataset
!git clone https://github.com/HamidRezaAttar/Elasticsearch-Jupyter-Colab
dataset = pd.read_csv("/content/Elasticsearch-Jupyter-Colab/data/test.csv.gz", compression="gzip")
dataset.drop("id", axis=1, inplace=True)
print(f"shape of dataset: {dataset.shape}")
dataset.head()

Cloning into 'Elasticsearch-Jupyter-Colab'...
remote: Enumerating objects: 36, done.
remote: Counting objects: 100% (36/36), done.
remote: Compressing objects: 100% (31/31), done.
remote: Total 36 (delta 14), reused 14 (delta 1), pack-reused 0
Unpacking objects: 100% (36/36), done.
shape of dataset: (11490, 2)

,article,highlights
0,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...
1,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...
2,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...
3,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...
4,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6..."

In [ ]:
# Define settings & mappings of Elasticsearch index
Settings = {
    "settings":{
        "number_of_shards":1,
        "number_of_replicas":0
    },
    "mappings":{
        "properties":{
            "article":{
                "type":"text"
            },
            "highlights":{
                "type":"text"
            }
        }
    }
}

In [ ]:
def json_formatter(dataset, index_name, index_type='_doc'):
    """
    This function is used to create JSON formatted dictionaries for Elasticsearch.

    Args:
      dataset: The dataset you want to apply this function.
      index_name: Name of the index in Elasticsearch
      index_type: Type of the index in Elasticsearch.
      Note: It is suggested to keep index_type as '_doc' since it is deprecated from version 6.
      Note: This function formats all columns of your dataset, if you want to apply this to special columns only,
      you can delete the second for loop and add your custom fields.
    """
    try:
        List = []
        columns = dataset.columns
        for idx, row in dataset.iterrows():
            dic = {}
            dic['_index'] = index_name
            dic['_type'] = index_type
            source = {}
            for i in dataset.columns:
                source[i] = row[i]
            dic['_source'] = source
            List.append(dic)
        return List
    
    except Exception as e:
        print("There is a problem: {}".format(e))

In [ ]:
MY_INDEX = es.indices.create(index="news_index", ignore=[400,404], body=Settings)
MY_INDEX

{'acknowledged': True, 'shards_acknowledged': True, 'index': 'news_index'}

In [ ]:
json_Formatted_dataset = json_formatter(dataset=dataset, index_name='news_index', index_type='_doc')
json_Formatted_dataset[0]

{'_index': 'news_index',
 '_type': '_doc',
 '_source': {'article': "Ever noticed how plane seats appear to be getting smaller and smaller? With increasing numbers of people taking to the skies, some experts are questioning if having such packed out planes is putting passengers at risk. They say that the shrinking space on aeroplanes is not only uncomfortable - it's putting our health and safety in danger. More than squabbling over the arm rest, shrinking space on planes putting our health and safety in danger? This week, a U.S consumer advisory group set up by the Department of Transportation said at a public hearing that while the government is happy to set standards for animals flying on planes, it doesn't stipulate a minimum amount of space for humans. 'In a world where animals have more rights to space and food than humans,' said Charlie Leocha, consumer representative on the committee.\xa0'It is time that the DOT and FAA take a stand for humane treatment of passengers.' But could crowding on planes lead to more serious issues than fighting for space in the overhead lockers, crashing elbows and seat back kicking? Tests conducted by the FAA use planes with a 31 inch pitch, a standard which on some airlines has decreased . Many economy seats on United Airlines have 30 inches of room, while some airlines offer as little as 28 inches . Cynthia Corbertt, a human factors researcher with the Federal Aviation Administration, that it conducts tests on how quickly passengers can leave a plane. But these tests are conducted using planes with 31 inches between each row of seats, a standard which on some airlines has decreased, reported the Detroit News. The distance between two seats from one point on a seat to the same point on the seat behind it is known as the pitch. While most airlines stick to a pitch of 31 inches or above, some fall below this. While United Airlines has 30 inches of space, Gulf Air economy seats have between 29 and 32 inches, Air Asia offers 29 inches and Spirit Airlines offers just 28 inches. British Airways has a seat pitch of 31 inches, while easyJet has 29 inches, Thomson's short haul seat pitch is 28 inches, and Virgin Atlantic's is 30-31.",
  'highlights': 'Experts question if  packed out planes are putting passengers at risk .\nU.S consumer advisory group says minimum space must be stipulated .\nSafety tests conducted on planes with more leg room than airlines offer .'}}

In [ ]:
# For importing Data to elasticsearch we use elasticsearch's bulk API from elasticsearch.helpers
try:
    res = helpers.bulk(es, json_Formatted_dataset)
    print("successfully imported to elasticsearch.")
except Exception as e:
    print(f"error: {e}")

/usr/local/lib/python3.7/dist-packages/elasticsearch/connection/base.py:208: ElasticsearchWarning: [types removal] Specifying types in bulk requests is deprecated.
  warnings.warn(message, category=ElasticsearchWarning)

successfully imported to elasticsearch.

In [ ]:
# Get 10 sample of data
query = es.search(
    index="news_index",
    body={
      "size":10,
      "query": {
        "match_all":{}
      }
    }
)

output = pd.json_normalize((query['hits']['hits']))
output

,_index,_type,_id,_score,_source.article,_source.highlights
0,news_index,_doc,R2foEoQB1Prwic7CYf4D,1.0,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...
1,news_index,_doc,SGfoEoQB1Prwic7CYf4D,1.0,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...
2,news_index,_doc,SWfoEoQB1Prwic7CYf4D,1.0,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...
3,news_index,_doc,SmfoEoQB1Prwic7CYf4D,1.0,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...
4,news_index,_doc,S2foEoQB1Prwic7CYf4D,1.0,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6..."
5,news_index,_doc,TGfoEoQB1Prwic7CYf4D,1.0,This is the moment that a crew of firefighters...,Giant pig fell into the swimming pool at his h...
6,news_index,_doc,TWfoEoQB1Prwic7CYf4D,1.0,The amount of time people spend listening to B...,Figures show that while millions still tune in...
7,news_index,_doc,TmfoEoQB1Prwic7CYf4D,1.0,"(CNN)So, you'd like a ""Full House"" reunion and...","Show will return with a one-hour special, foll..."
8,news_index,_doc,T2foEoQB1Prwic7CYf4D,1.0,"At 11:20pm, former world champion Ken Doherty ...",Reanne Evans faced Ken Doherty in World Champi...
9,news_index,_doc,UGfoEoQB1Prwic7CYf4D,1.0,A gang of six men have been jailed for a total...,Gang have been jailed for a total of 31 years ...

In [ ]:
# Complicated query
query = es.search(
    index="news_index",
    body={
        "size":20,
        "query":{
            "bool":{
                "must":[
                        {"match":{"article":"teenage boy"}}
                ],
                "should":[
                        {"match":{"highlights":"drunk"}}
                ]
            }
        }
    }
)

output = pd.json_normalize((query['hits']['hits']))
output

,_index,_type,_id,_score,_source.article,_source.highlights
0,news_index,_doc,SGfoEoQB1Prwic7CYf4D,15.533424,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...
1,news_index,_doc,PGjoEoQB1Prwic7Ccw8q,11.526793,Teenage girls do better in single sex schools ...,'Boy free' environment stops girls from being ...
2,news_index,_doc,QWjoEoQB1Prwic7CgiXT,11.196183,He looks barely teenage. But this child has am...,Child has amassed thousands of Twitter followe...
3,news_index,_doc,emjoEoQB1Prwic7CZADW,10.722628,A teenage boy who shot and killed a teacher an...,"Boy, 13, arrested after deadly attack at secon..."
4,news_index,_doc,72joEoQB1Prwic7CeBUu,10.383848,A female school worker has been arrested on su...,"Diane Blankenship, 45, was arrested at her hom..."
5,news_index,_doc,YWjoEoQB1Prwic7Cgybg,9.660924,An alcohol-fuelled 14-year-old boy killed a fa...,Kyle Major killed Paul Walker with a single pu...
6,news_index,_doc,92joEoQB1Prwic7CbQcL,9.587729,Teenagers across America got a very realistic ...,The Glasford school in Illinois hosted one of ...
7,news_index,_doc,gWjoEoQB1Prwic7CbwqX,9.572909,The savages of Islamic State have stepped up t...,Teenage suicide bomber Abu Hafs al Badri is re...
8,news_index,_doc,H2joEoQB1Prwic7CgSKJ,9.094333,A teenager who allegedly played naked Twister ...,"Rachel Lehnardt, 35, 'allowed her 16-year-old ..."
9,news_index,_doc,MmjoEoQB1Prwic7Cfh99,9.034744,"Forget about the 'theory of everything', an ev...",The legendary physicist was speaking at the Sy...
10,news_index,_doc,SWjoEoQB1Prwic7CdRP3,9.025765,The mother-of-five who was arrested for allege...,"Rachel Lehnardt, 35, 'allowed her 16-year-old ..."
11,news_index,_doc,EWjoEoQB1Prwic7CgSOK,9.010389,A Saturday Night Live skit about a male studen...,"According to the U.S. Department of Education,..."
12,news_index,_doc,OGjoEoQB1Prwic7CdRL2,8.876999,"Jilted music teacher Yulia Simonova, 52, wante...",Yulia Simonova said she wanted the teenager to...
13,news_index,_doc,LmjoEoQB1Prwic7ChSgT,8.718247,A Florida woman has been charged with child ab...,"Bridget Olinda Garcia, 32, drove for 400ft wi..."
14,news_index,_doc,smjoEoQB1Prwic7CbwuY,8.679010,"Kaitlyn Granado, 24, was arrested on Monday am...","Kaitlyn Granado, 24, first arrested March 19 f..."
15,news_index,_doc,SWjoEoQB1Prwic7CehiV,8.646388,A gun-wielding mother has been arrested after ...,"Latoya Tilson, 33, was reportedly hit in face ..."
16,news_index,_doc,EWjoEoQB1Prwic7CZALZ,8.574643,Jurors have started deliberations in the case ...,Jurors have started deliberations in the case ...
17,news_index,_doc,TGjoEoQB1Prwic7CdhX_,8.497845,The naked bodies of a young couple were found ...,Bodies of couple in their 20s found by locals ...
18,news_index,_doc,bGjoEoQB1Prwic7CcAzl,8.482735,"In The Hunger Games, Katniss Everdeen is pulle...",Young adult novels regularly feature teen hero...
19,news_index,_doc,hmjoEoQB1Prwic7CdRP3,8.343094,The axe wielding thug who attempted to rob a s...,Shaun McKerry started offending when he was 11...

In [ ]:
# More complicated query
query = es.search( 
    index="news_index",
    body={
        "size":20,
        "query":{
            "bool":{
                "must":[
                        {"multi_match":{
                            "query":"The Hunger Games",
                            "fields":["article","highlights"]
                        }}
                ]
            }
        }
    }
)

output = pd.json_normalize((query['hits']['hits']))
output

,_index,_type,_id,_score,_source.article,_source.highlights
0,news_index,_doc,iWjoEoQB1Prwic7CdRL3,14.259413,If you were spellbound by the death-defying ad...,"Motiongate Dubai will open in October, 2016 wi..."
1,news_index,_doc,bGjoEoQB1Prwic7CcAzl,13.301999,"In The Hunger Games, Katniss Everdeen is pulle...",Young adult novels regularly feature teen hero...
2,news_index,_doc,pGjoEoQB1Prwic7CgiTT,11.486975,"When complete strangers Niamh Geaney, 26, and ...","Hunger Games star Josh Hutcherson, 22, surpris..."
3,news_index,_doc,L2joEoQB1Prwic7CdRP3,11.437349,"(CNN)Universal's ""Furious 7"" continues to buil...","The final film featuring the late Paul Walker,..."
4,news_index,_doc,v2joEoQB1Prwic7CgiTT,11.259434,Sky launched its Buy and Keep scheme for custo...,Films can be bought at Skystore.com or through...
5,news_index,_doc,i2joEoQB1Prwic7CaAPV,10.941918,"(CNN)Universal's ""Furious 7"" is about to make ...",The film is expected to gross $115 million or ...
6,news_index,_doc,h2joEoQB1Prwic7Cbghw,10.669691,Mourinho with his wife Matilde Faria at the 20...,Jose Mourinho said he is proud to work with un...
7,news_index,_doc,FmjoEoQB1Prwic7CdRL2,10.634808,It's the ultimate treat for Benedict Cumberbat...,A 6ft chocolate sculpture of Benedict Cumberba...
8,news_index,_doc,3WjoEoQB1Prwic7CeBUu,10.627807,You would be forgiven for thinking these colou...,Wellington held its inaugural CubaDupa festiva...
9,news_index,_doc,zmjoEoQB1Prwic7CeBUu,10.489234,One-eyed police murderer Dale Cregan (above) i...,31-year-old was transferred to solitary confin...
10,news_index,_doc,w2joEoQB1Prwic7CdBDF,10.430956,The NFL has its first full-time female game of...,Thomas will be a line judge for the 2015 seaso...
11,news_index,_doc,r2joEoQB1Prwic7CdhX_,9.826724,One-eyed police killer Dale Cregan has been se...,31-year-old reportedly transferred to Ashworth...
12,news_index,_doc,hWjoEoQB1Prwic7ChScT,8.775270,For any players who have featured for 90 minut...,Alexis Sanchez has starred for Barcelona and A...
13,news_index,_doc,8mjoEoQB1Prwic7CdRH2,8.698810,Gary Neville has hailed Manchester United as a...,Manchester United beat Manchester City 4-2 at ...
14,news_index,_doc,Z2joEoQB1Prwic7Ccw4p,8.503597,Eden Hazard needs to become more selfish if he...,Chelsea travel to Arsenal as they close in on ...
15,news_index,_doc,52joEoQB1Prwic7CdhP-,8.387949,Famished and queuing despondently as far as th...,Syrians line up despondently in scenes more fa...
16,news_index,_doc,52joEoQB1Prwic7Chimp,8.086366,The country’s biggest food bank organisation y...,The Trussell Trust counted the number of peopl...
17,news_index,_doc,4GjoEoQB1Prwic7CgSGJ,7.953035,(CNN)An Egyptian court sentenced the leader of...,The death sentences will be appealed .\nMohame...
18,news_index,_doc,P2joEoQB1Prwic7CaAPV,7.574566,We're all guilty of it but there are some who ...,Snack amnesiacs are mindless munchers who subc...
19,news_index,_doc,5GjoEoQB1Prwic7CcAzl,7.413477,Anthony Joshua believes his 'hunger and determ...,Anthony Joshua will take on Jason Gavern in Ne...